<div class="container">
    <span class="top"
    ><p id="top"> HTF X SHD </p>
  </span>
  <div class="title">
    <p id="titleText">De moord op Jill Bridges</p>
  </div>
  <div class="intro">
    <p id="introText">
      <span
        >Het forensisch team heeft reeds een aantal verbanden kunnen ontdekken
        die
      </span>
    </p>
    <p id="introText">
      <span
        >de onderzoeksteams kunnen helpen met het ontmaskeren van de
        moordenaar</span
      >
    </p>
    <p id="introText">
      <span
        >en het achterhalen van de plaats delict en het moordwapen. Zoals wel
        vaker</span
      >
    </p>
    <p id="introText">
      <span
        >zijn de laatste loodjes het zwaarst en kunnen de onderzoeksteams wel
        wat</span
      >
    </p>
    <p id="introText">
      <span>hulp gebruiken bij het samen puzzelen van de verbanden.</span>
    </p>
  </div>
  <div id="buttonContainer">
    <button [routerLink]="['/regels']" type="button">Aan de slag!</button>
  </div>
  <span class="bottom"
    ><a id="spelregels" [routerLink]="['/regels']"> Spelregels </a>
  </span>
</div>
