<body>
    

<div >
    <h1>spelregels</h1>
    <button [routerLink]="['/start']"></button>
    
    <p>Bij de start van het spel krijg je als speler een <span>kladblok</span>  te zien met <span>alle mogelijke moordenaars, wapens en locaties</span>. Het forensisch team heeft <span> reeds enkele verbanden</span> kunnen leggen waardoor al enkele items op de kladblok <span> geschrapt</span> zijn. <br> <br>
        Om het onderzoeksteam verder te helpen de verbanden te leggen moeten enkele <span> puzzelgrids</span> opgelost worden.  Elk <span>vak</span> in het grid bevat een <span> stuk cruciale informatie</span> om dader, plaats delict en moordwapen te ontmantelen. <br> <br>
        Door telkens <span> 3 stukjes informatie te combineren</span> kan een wapen, locatie of karakter gevonden worden die in je als speler dan op kladblok kan schrappen. Aangezien er heel wat tijdsdruk is om het moordmysterie op Jill Bridges op te lossen, staat een <span> tijdslimiet op elke ronde.</span> <br> <br>
        Wanneer de <span> tijd verstreken</span> is moet de speler een <span> poging</span> doen om het <span> mysterie op te lossen</span>. Hiervoor moet een mogelijke moordenaar, mogelijk moordwapen en mogelijk plaats delict doorgegeven worden. Heb je als speler alle antwoorden correct dan heb je de moord opgelost en is het spel afgelopen. Zo niet, speel je een volgende ronde met een nieuw grid die opnieuw enkele stukken informatie bevat. Zijn alle rondes uitgespeeld krijg je nog de kans om te blijven gokken tot de tijd verstreken is.
    </p>
    <p>

    </p>
</div>
</body>